* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}
a:hover{
  color: gray;
}

.clearfix {
  clear: both;
}
.header-banner {
  padding-top: 35px;
  padding-bottom: 100px;
  color: #ffffff;
  font-family: Helvetica, serif;
  font-weight: 100;
  background-image: linear-gradient(to right, black , rgb(0, 0, 0));
  opacity: 1;
  background-position: left top, center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-width {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}
.logo-container {
  float: left;
  color: rgb(0, 0, 0);
}
.logo {
  border-radius: 5px;
  min-width: 130px;
  padding: 10px;
  min-height: 80px;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
  max-width: 15%;
  opacity: 1;
  background-color: rgb(255, 255, 0);
  opacity: 1;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  color: #000000;
  transition: all 0.5s ease;
  
}
.logo:hover{
  margin-top: -5px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.menu {
  float: right;
  width: 50%;
}
.menu-item {
  float: right;
  font-size: 18px;
  color : rgb(255, 255, 255);
  width: 200px;
  padding: 10px;
  min-height: -200px;
  text-align: end;
  line-height: 10px;
  font-weight: 400;
}
.lead-title {
  margin: 150px 0 30px 0;
  font-size: 40px;
  color: rgb(255, 255, 255);
}
.sub-lead-title {
  max-width: 650px;
  line-height: 30px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}
.flex-sect {
  padding: 100px 0;
  font-family: Helvetica, serif;
  background-color: black;
  opacity: 1;
}
.flex-title {
  margin-bottom: 15px;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 5px;
}
.flex-desc {
  margin-bottom: 55px;
  font-size: 1em;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
}
.cards {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.card {
  background-color: rgb(0, 0, 0);
  height: 350px;
  width: 300px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  font-weight: 100;
  overflow: hidden;
  border-style: hidden;
  border-radius: 7px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.card:hover {
  margin-top: -5px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.card-header {
  height: 155px;
  background-image: url('blackarchlogo.jpg');
  background-color: rgb(255, 255, 255);
}
.card-header.ch2 {
  background-image: url('https://placehold.it/350x250/459ba8/fff/image2.jpg');
}
.card-header.ch3 {
  background-image: url('https://placehold.it/350x250/79c267/fff/image3.jpg');
}
.card-header.ch4 {
  background-image: url('https://placehold.it/350x250/c5d647/fff/image4.jpg');
}
.card-header.ch5 {
  background-image: url('https://placehold.it/350x250/f28c33/fff/image5.jpg');
}
.card-header.ch6 {
  background-image: url('https://placehold.it/350x250/e868a2/fff/image6.jpg');
}
.card-body {
  padding: 15px 15px 5px 15px;
  color: rgb(255, 255, 255);
}
.card-title {
  font-size: 1.4em;
  margin-bottom: 5px;
}
.card-sub-title {
  color: white;
  font-size: 1em;
  margin-bottom: 15px;
}
.card-desc {
  font-size: 0.85rem;
  line-height: 17px;
}
.am-sect {
  opacity: 1;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: Helvetica, serif;
  background-color: rgb(255, 255, 0);
}
.blk-sect {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Helvetica, serif;
  background-color: black;
  opacity: 1;
}
.blk-title {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  text-align: center;
  font-size: 30px;
  padding-bottom: 4px;
    position: relative;
    text-decoration: none;
}
.blk-title::after {
  background: rgb(255, 255, 255);
    background: linear-gradient(to right, transparent 0%, rgb(255, 255, 255) 50%, transparent 100%);  
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

.price-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  opacity: 0.9;
}

.price-card-cont {
  min-width: 200px;
  max-width: 400px;
  height: 450px;
  float: left;
}
.price-card {
  height: auto;
  margin-bottom: 30px;
  font-weight: 100;
  overflow: hidden;
  border-style: hidden;
  border-radius: 15px;
  border-width: 1px;
}

.pc-title {
  margin-top: 10px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 75%;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  padding: 75px 0;
  transition: all 0.5s ease;
  background: 
  linear-gradient(to right, rgb(0, 0, 0), black) padding-box, 
  linear-gradient(to right, rgb(255, 255, 0), rgb(255, 255, 0)) border-box;
    padding:10px;
    background-color: rgb(255, 255, 0);
    border: 3px solid transparent;
    border-radius:15px;
    display:inline-block;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.pc-title:hover {
  margin-top: 0px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  background: 
  linear-gradient(to left, rgb(0, 0, 0), black) padding-box, 
  linear-gradient(to right, gold, gold) border-box;
  opacity: 1;
}

.pc-desc {
  margin-top: 5px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 75%;
  font-size: 35px;
  text-align: center;
  color: white;
  padding: 75px 0;
  transition: all 0.5s ease;
  background: 
     linear-gradient(to right, rgb(0, 0, 0), black) padding-box, 
     linear-gradient(to right, rgb(255, 255, 0), rgb(255, 255, 0)) border-box;
    padding:10px;
    border: 3px solid transparent;
    border-radius:15px;
    display:inline-block;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.pc-desc:hover {
  margin-top: 0px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  background: 
  linear-gradient(to left, rgb(0, 0, 0),black) padding-box, 
  linear-gradient(to right, gold, gold) border-box;
  opacity: 1;
}

.pc-amount {
  margin-top: 5px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-bottom: 40px;
  width: 75%;
  font-size: 35px;
  text-align: center;
  color: white;
  padding: 75px 0;
  transition: all 0.5s ease;
  background: 
  linear-gradient(to right, black,black) padding-box, 
  linear-gradient(to right, gold, gold) border-box;
    padding:10px;
    border: 3px solid transparent;
    border-radius:15px;
    display:inline-block;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.pc-amount:hover {
  margin-top: 0px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  background: 
  linear-gradient(to left, rgb(0, 0, 0) ,black) padding-box, 
  linear-gradient(to right, gold, gold) border-box;
  opacity: 1;
}

.pc-enterprise {
  background-color: #d66a96;
}
.footer-under {
  background-color: black;
  opacity: 1;
  padding-bottom: 10px;
  padding-top: 50px;
  min-height: 300px;
  position: relative;
  font-weight: 100;
  font-family: Helvetica, serif;
}
.copyright {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(238, 238, 238, 0.5);
  bottom: 0;
  padding: 1em 0;
  position: absolute;
  width: 100%;
  font-size: 0.75em;
}
.foot-social-btns {
  display: none;
  float: right;
  width: 50%;
  text-align: right;
  padding: 5px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}
.foot-list {
  float: left;
  width: 200px;
}
.foot-list-title {
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0.5em 0;
}
.foot-list-item {
  color: white; 
  font-size: 0.8em;
  padding: 0.5em 0;
  transition: all 0.3s ease;
}

.foot-list-item:hover {
  color: rgb(255, 255, 0);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

#ih3lb {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: contain;
  width:auto;
  height:155px; 
  margin-left: 25%;
}
#ig0an {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: contain;
  width: 300px;;
  height:155px; 
}
#i5ioi {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: contain;
  width:auto;
  height:155px; 
  margin-left: 25%;
}
#idy3k {
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#i5t9k {
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}

#imz1dz {
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#i8kna {
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#i3xr3l {
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#imp68 {
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#iwc1eh {
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#ip4q8l {
  width: auto;
}
#izt0ix {
  margin: 0 0 0 100px;
  width: 200px;
}
#iaqzph {
  margin: 0 0 0 100px;
  width: 200px;
}
#safsr {
  margin: 0 0 0 100px;
  width: 200px;
}
#tryhackme {
  margin: 0 0 0 100px;
  width: 200px;
}
#iwufqx {
  width: 500px;
}
#ikso5k {
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#icesi1 {
  border: solid rgba(214, 17, 17, 0.5);
  background-image: linear-gradient(#173363, #173363);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#ifhel {
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#in3c {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  transition: width 2s ease;
}

#iu69e2 {
  opacity: 0.8;
}
@media (max-width: 480px) {
  .foot-lists {
    display: none;
  }
}
